#animated-minion-wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
}

.minion-body {
   width: 348px;
   height: 553.7px;
   background: #ffffff url(../assets/animated-minion/body.png);
   background-repeat: no-repeat;
   background-size: cover;
}

.minion-eyes {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 105px;
}

.minion-eye {
   width: 79.7px;
   height: 68px;
   border-radius: 50%;
   float: left;
   margin: 20px;
   text-align: center;
}

.minion-ball {
   background: url(../assets/animated-minion/eye.png);
   background-repeat: no-repeat;
   background-size: cover;
   width: 42.3px;
   height: 42.3px;
   border-radius: 50%;
}
