@import './default/normalize.css';
@import './shared.css';

#multisig-wallet {
   background-color: #f2f4f6;
   color: #24272a;
}

header {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 75px;
}

header > * {
   flex-shrink: 0;
}

.logo-wrapper {
   display: flex;
   align-items: center;
   column-gap: 8px;
}

.chain-network-wrapper {
   display: flex;
   align-items: center;
   column-gap: 10px;
   margin: 0 50px;
   padding: 9px 12px;
   border: 1px solid #bbc0c5;
   border-radius: 100px;
}

.chain-symbol {
   width: 12px; height: 12px;
   border-radius: 100%;
}

.chain-name {
   font-size: 0.8rem;
}

#main-container {
   display: flex;
   justify-content: center;
}

.home-wrapper {
   min-width: 953px;
   background-color: #fff;
}

.menu-bar {
   border-bottom: 1px solid #d6d9dc;
   display: flex;
   justify-content: center;
   padding: 4px 0;
}

.account-wrapper {
   align-items: center;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   padding: 6px 120px;
   row-gap: 4px;
   cursor: pointer;
}

.account-wrapper:hover {
   background-color: #f2f4f6;
}

.account-wrapper > :nth-child(2) {
   margin-top: 8px;
}

.account-name {
   font-size: 1rem;
   font-weight: 500;
   line-height: 140%;
}

.account-address-wrapper {
   display: flex;
   column-gap: 8px;
   font-size: 0.85rem;
}

.balance-wrapper {
   display: flex;
   flex-direction: column;
   padding: 70px 0 ;
}

.balance-wrapper > :nth-child(2) {
   margin-top: 30px;
}

.account-balance {
   text-align: center;
   font-size: 2rem;
}

.control-buttons-wrapper {
   display: flex;
   justify-content: center;
   column-gap: 24px;
}

.control-button {
   display: flex;
   flex-direction: column;
   align-items: center;
   row-gap: 5px;
   border-style: none;
   cursor: pointer;
   background-color: unset;
}

.control-button--disabled {
   cursor: not-allowed;
   opacity: 0.5;
}

.control-button__icon {
   display: flex;
   width: 36px; height: 36px;
   justify-content: center;
   align-items: center;
   border-radius: 18px;
   background-color: #037dd6;
}

.control-button__text {
   line-height: 140%;
   color: #037dd6;
}

.record-tab-group {
   display: flex;
   border: none;
   box-shadow: 0 3px 4px rgb(135 134 134 / 16%);
}

.record-tab-group > * {
   flex-basis: 50%;
   flex-shrink: 0;
}

.record-tab {
   padding: 16px 8px;
   text-align: center;
   cursor: pointer;
}

.record-tab--active {
   border-bottom: 2px solid #037dd6;
   font-weight: 500;
   color: #037dd6;
}

.record-content-wrapper {
   height: 100px;
}